@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Kalam');

html{
  background-color: white;
}
.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


body {
      padding-top: 20px;
    }

    .phones {
      list-style: none;
    }

    .thumb {
      float: left;
      margin: -0.5em 1em 1.5em 0;
      padding-bottom: 1em;
      height: 100px;
      width: 100px;
    }

    .phones li {
      clear: both;
      height: 115px;
      padding-top: 15px;
    }

.header h1 {
  text-align:center;
  color: white;
  font-weight: bold;
  font-size: 100px;
  font-family: 'Kalam', sans-serif;
}

.header {
  border-style: solid;
    border-width: 1px;
    margin:0.5em;

    
    background: #e086da;
    border-radius: 1em;

}
.header img{
 

}

.space input{
  border-color: pink;
  width:50%;
  padding: 0.8em;
  margin-top:2em;
  display:block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.5em;
text-indent:30px;
font-size:1em;
font-family:"lato",sans-serif;
font-weight:bold;
color:black;
  }



App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.header img{
  display: block;
  width: 25%;
  
    margin-left:auto;
    margin-right: auto;

}